@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto&display=swap");
@import url("https://lens-ui.netlify.app/style.css");
@import url("/Authentication/authentication.css");
@import url("/Wishlist/wishlist.css");

.d-inline-block {
  display: inline-block;
}

.width-100 {
  width: 100%;
}

.header {
  background-color: var(--light-secondary-color);
  padding: var(--sp-0-5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav__container {
  height: 4rem;
  background-color: var(--light-secondary-color);
  justify-content: space-evenly;
}

.nav__link {
  cursor: pointer;
}

.mobile__search,
.mobile__nav__list {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav__icon__text,
  .hide__mobile {
    display: none;
  }

  .nav__container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .mobile__search {
    display: flex;
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 576px) {
  .nav__list {
    display: flex;
  }
}
