@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto&display=swap");
@import url("https://lens-ui.netlify.app/style.css");
@import url("/Authentication/authentication.css");
@import url("/Wishlist/wishlist.css");
@import url("/ProductListing/productListing.css");

.d-inline-block {
  display: inline-block;
}

.width-100 {
  width: 100%;
}

.header {
  background-color: var(--light-secondary-color);
  padding: var(--sp-0-5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav__container {
  height: 4rem;
  background-color: var(--light-secondary-color);
  justify-content: space-evenly;
}

.nav__link {
  cursor: pointer;
}

.mobile__search,
.mobile__nav__list {
  display: none;
}

.banner__wrapper {
  height: 35rem;
  width: 100%;
  background: url("/Assets/banner.jpg") no-repeat center center/cover;
  background-color: var(--light-secondary-color);
  color: var(--white-color);
}

.category__card {
  width: 15rem;
  height: 15rem;
  margin: var(--sp-1);
  cursor: pointer;
  border-radius: var(--sp-1);
}

.category__card img {
  height: 80%;
  width: 100%;
  border-radius: var(--sp-1) var(--sp-1) 0 0;
  object-fit: fill;
}

.category__card .categogry__name {
  display: block;
}

.category__card:hover {
  box-shadow: var(--box-shadow-2);
}

footer {
  height: 4rem;
  background-color: var(--light-secondary-color);
}

@media only screen and (max-width: 1024px) {
  .nav__icon__text,
  .hide__mobile {
    display: none;
  }

  .nav__container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .mobile__search {
    display: flex;
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 576px) {
  .nav__list {
    display: flex;
  }
}
